<!doctype html>
<html>

<!-- One of the following themes -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/> <!-- 'classic' theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css"/> <!-- 'monolith' theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/> <!-- 'nano' theme -->

<!-- Modern or es5 bundle -->
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>

<head>
    {% include 'head.html' %}

    <style>
        .chatArea {
            height: 100%;
        }

        .messages {
            font-size: 150%;
        }

        .log {
            color: gray;
            font-size: 70%;
            margin: 5px;
            text-align: center;
        }

        .messages {
            height: 100%;
            margin: 0;
        }

        ul {
            list-style: none;
            word-wrap: break-word;
        }
    </style>
</head>
<body onload="joinroom()">
    
    <div>
        <div class="d-flex flex-row">

            <div class="modal fade " id="wordchoosermodal" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel"  data-bs-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-light border-0 shadow rounded-4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Choose a word</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row align-items-start">
                                <div class="col text-center" v-for="word in words">
                                    <button class="btn btn-primary rounded-4 shadow-sm" v-on:click="selectword(word)"  type="button">/&word&/</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " id="wordwasmodal" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel"  data-bs-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-light border-0 shadow rounded-4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">The word was <b>/&data.word&/</b></h5>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">User</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(value, name) in data.users">
                                    <td>/&name&/</td>
                                    <td>/&value.score&/</td>
                                </tr>
                            </tbody>
                            </table>
                              
                            
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " id="loadingmodal" data-keyboard="false" tabindex="-1"data-bs-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-light border-0 shadow rounded-4 w-75 h-75">
                        <div class="modal-body">
                            <div class="text-center">
                                <div class="spinner-border" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                              </div>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="gameovermodal" data-keyboard="false" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-light border-0 shadow rounded-4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Game Over</h5>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">User</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(value, name) in stats">
                                    <td>/&name&/</td>
                                    <td>/&value.score&/</td>
                                </tr>
                            </tbody>
                            </table>
                              
                            <div class="d-flex justify-content-center">
                                <a href="/"><button class="btn btn-primary rounded-4 shadow-sm" type="button">Back to main menu</button></a>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-fill box" id="canvasgroup">
                <div id="seecanvascontainer">
                    <canvas id="seecanvas"></canvas> 
                </div>
                <div id="drawcanvascontainer">
                    <canvas id="drawcanvas"></canvas>
                </div>
            </div>

            

            <div id="app" class="d-flex flex-column flex-shrink-0 p-3 bg-light border-0 shadow rounded-4" style="width: 350px; height:100vh;">
                
                
                <div class="row align-items-start">
                    <div class="col">

                        <a href="/" class="d-flex align-items-center link-dark text-decoration-none">
                            <h5 class="fs-4"><b>CanvasGuesser</b></h5> 
                        </a>

                        <a onclick="copygamepin()" class="d-flex align-items-center link-dark text-decoration-none "  data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                            <h5 class="fs-4">Game /&givendata.gamenumber&/</h5> 
                        </a>

                    </div>
                    <div class="col" v-if="timer">
                        <div class="card bg-white border-0 rounded-4 shadow-sm">
                            <div class="card-body text-center">
                                <span class="fs-6 text-center"><b>Timer</b> <br></span>
                                <span class="text-center">/&timer&/ s</span>
                            </div>
                          </div>   
                    </div>
                </div>

                
                <hr v-show="admin">
                
                <div class="d-grid gap-2" v-if="admin">
                    <button class="btn btn-primary rounded-4 shadow-sm" onclick="startgame()" id="startbutton" type="button">Start</button>
                </div>

                <hr v-show="drawing">


                <div class="d-grid gap-2">
                    <div class="bg-white border-0 rounded-4 shadow-sm" v-show="drawing">
                        <div class="p-3">
                            <h5>Word : <b>/& word &/</b></h5>

                            <hr class="my-3">

                            <button onclick="drawcanvas.clear()" id="clearbutton" type="button" class="btn btn-primary rounded-4 w-100 shadow-sm">Clear</button> 
                            
                            <hr class="my-3">

                            <div class="row align-items-end">
                                <div class="col">
                                    <h6 class="float-start">Brush Width</h6> 
                                </div>
                                <div class="col">
                                    <h6 class="float-end">/&drawingcanvasmetadata.brushwidth&/</h6>
                                </div>
                            </div>                              
                            
                            <input type="range" min="1" max="100" step="1" v-model="drawingcanvasmetadata.brushwidth" id="brushwidthrange" class="form-range">
                        
                            <hr class="my-3">

                            <div class="h-40 d-flex justify-content-center">
                                <div class="color-picker">
                        
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <hr>

                <div class="chatArea py-3">
                    <div class="messages bg-white border-0 rounded-4 shadow-sm">
                        <ul class="p-3" style="font-size:15px">
                            <li v-for="message in messages" v-bind:style=" message.gottheword ? 'color:blue' : ''"><b>/&message.username&/</b> /&message.text&/</li>      
                        </ul>
                    </div>
                </div>


                <div class="d-flex bd-highlight">

                    <div class="p-2 flex-grow-1 bd-highlight">
                        <input :disabled="drawing || guessedcorrectly" class="form-control shadow-sm rounded-pill border-0" onkeydown = "if (event.keyCode == 13) document.getElementById('buttoninput').click()" v-model="textinput" id="textinput" placeholder="Type here..."/>
                    </div>

                    <div class="p-2 bd-highlight">
                        <button type="submit" class="btn btn-primary form-control shadow-sm rounded-pill border-0" onclick="sendmessage()" id="buttoninput" style="font-size:2px"><span class="material-icons">send</span></button>
                    </div>
                    
                </div>

                <hr>

                <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://thispersondoesnotexist.com/image" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>/&givendata.username&/</strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item">placeholder</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" onclick="leaveroom()">Leave</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>

</body>

    <script>

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        function copygamepin(){
            text = app.givendata.gamenumber
            navigator.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
            console.error('Async: Could not copy text: ', err);
            }); 
        }

        //from https://jsfiddle.net/Mottie/xcqpF/1/light/
        function rgb2hex(rgb){
            rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
            return (rgb && rgb.length === 4) ? "#" +
            ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
            ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
            ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';
        }

    </script>


    <script>

        let box = document.querySelector('.box');

        let width = box.clientWidth;
        let height = box.clientHeight;

        var drawcanvas = new fabric.Canvas('drawcanvas', {
            isDrawingMode: true
        }); 
        
        drawcanvas.on('mouse:up', function () {
            app.pickr.show()
            socket.emit('imagetransport',{text:app.textinput,username:app.givendata.username, gamenumber:app.givendata.gamenumber, image:(JSON.stringify(drawcanvas))});
        });

        drawcanvas.setHeight(height);
        drawcanvas.setWidth(width);
        
    </script>

    <script>
        //  This function from [https://stackoverflow.com/questions/14226803/wait-5-seconds-before-executing-next-line]
        function sleep(milliseconds) {
            const start = Date.now();
            while (Date.now() - start < milliseconds);
        }


        var socket = io();

        var app = new Vue({
            delimiters: ['/&', '&/'],
            el: '#app',
            name: 'app',
            data () {
                return {             
                    givendata : JSON.parse('{{ data|tojson|safe }}'),
                    textinput: null,
                    messages:[],
                    admin:null,
                    drawing:null,
                    choosemodal:null,
                    timer:null,
                    gameover: null,
                    guessedcorrectly: false,
                    drawingcanvasmetadata:{
                        brushwidth: '10'
                    },
                    word : '',
                    pickr:''
                }
            },
            mounted() {
                this.pickr = Pickr.create({
                    el: '.color-picker',
                    theme: 'monolith', // or 'monolith', or 'nano'

                    swatches: [
                        'rgba(244, 67, 54, 1)',
                        'rgba(233, 30, 99, 1)',
                        'rgba(156, 39, 176, 1)',
                        'rgba(103, 58, 183, 1)',
                        'rgba(63, 81, 181, 1)',
                        'rgba(33, 150, 243, 1)',
                        'rgba(3, 169, 244, 1)',
                        'rgba(0, 188, 212, 1)',
                        'rgba(0, 150, 136, 1)',
                        'rgba(76, 175, 80, 1)',
                        'rgba(139, 195, 74, 1)',
                        'rgba(205, 220, 57, 1)',
                        'rgba(255, 235, 59, 1)',
                        'rgba(255, 193, 7, 1)'
                    ],

                    components: {

                        // Main components
                        preview: true,
                        opacity: true,
                        hue: true,

                        // Input / output Options
                        interaction: {
                            hex: true,
                            rgba: true,
                            hsla: true,
                            hsva: true,
                            cmyk: true,
                            input: true,
                            clear: true,
                            save: true
                        }
                    }
                });

                this.pickr.setColorRepresentation('HEX')

                if (window.location.pathname=="/gamehost") {
                    this.admin=true;
                } else {
                    this.admin=false;
                }
                this.drawing=false;
                this.choosemodal=false;
                this.drawingcanvasmetadata.brushwidth = '10';
                
                
            },

            watch: {
                // whenever question changes, this function will run
                drawing: function (newdrawingvalue, olddrawingvalue) {
                    var drawcanvascontainer = document.getElementById('drawcanvascontainer');
                    var seecanvascontainer = document.getElementById('seecanvascontainer');

                    if (newdrawingvalue) {
                        drawcanvascontainer.style.display = 'block';
                        seecanvascontainer.style.display = 'none'; 
                    } else {
                        drawcanvascontainer.style.display = 'none';
                        seecanvascontainer.style.display = 'block'; 
                    } 
                },
                timer: function (newtimervalue, oldtimervalue) {
                    if (newtimervalue==0) {
                        this.timer = null
                        this.drawing = false
                    }
                },
                drawingcanvasmetadata: {
                    deep: true,
                    handler(){
                        drawcanvas.freeDrawingBrush.width = parseInt(this.drawingcanvasmetadata.brushwidth)
                    }
                }
                    
                
                
            }
            
        });

        var wordchooser = new Vue({
            delimiters: ['/&', '&/'],
            el: '#wordchoosermodal',
            name: 'wordchoosermodal',
            data () {
                return {             
                    words : [],
                }
            },
            methods: {
                selectword(word) {
                    wordchoosermodal.hide()
                    app.word = word;
                    socket.emit("wordchosen",{word:word,username:app.givendata.username, gamenumber:app.givendata.gamenumber});
                    app.pickr.show()
                }
            }
        });

        var wordwas = new Vue({
            delimiters: ['/&', '&/'],
            el: '#wordwasmodal',
            name: 'wordwasmodal',
            data () {
                return {             
                    data : []
                }
            }
        });

        var gameover = new Vue({
            delimiters: ['/&', '&/'],
            el: '#gameovermodal',
            name: 'gameovermodal',
            data () {
                return {             
                    stats: null
                }
            }
        });

        var wordchoosermodal = new bootstrap.Modal(document.getElementById('wordchoosermodal'))
        var loadingmodal = new bootstrap.Modal(document.getElementById('loadingmodal'))
        var gameovermodal = new bootstrap.Modal(document.getElementById('gameovermodal'))
        var wordwasmodal = new bootstrap.Modal(document.getElementById('wordwasmodal'))
        loadingmodal.show()

        function sendmessage() {
            if (app.textinput !== '') {
                socket.emit("message",{text:app.textinput,username:app.givendata.username, gamenumber:app.givendata.gamenumber});
            }
            app.textinput = "";
        } 

        function startgame() {
            document.getElementById("startbutton").disabled = true;
            socket.emit("startgame",{text:app.textinput,username:app.givendata.username, gamenumber:app.givendata.gamenumber});
        } 
        
        function leaveroom(){
            socket.emit('leave', {username:app.givendata.username, gamenumber:app.givendata.gamenumber});
            window.open("/","_self")
        }

        function joinroom(){
            socket.emit('join', {username:app.givendata.username, gamenumber:app.givendata.gamenumber});
        }

        socket.on("connect", () => {
            setTimeout(function() {
                    loadingmodal.hide()
                }, 1000);
            console.log(socket.id); // x8WIv7-mJelg7on_ALbx
        });

        socket.on("message", function( msg ) {
            (app.messages).push(msg);
            if (msg.gottheword){
                app.guessedcorrectly=true
            }
        })

        socket.on("gameover", function( msg ) {
            app.gameover = true
            gameover.stats = msg.stats
            gameovermodal.show()
        })

        socket.on("timer", function( msg ) {
            app.timer = msg.time;
        })

        socket.on("wordwas", function( msg ) {
            console.log("word was "+msg.data)
            app.guessedcorrectly=false
            wordwas.data = msg.data;
            wordwasmodal.show()
            setTimeout(function() {
                wordwasmodal.hide()
            }, 1000);
        })

        socket.on("wordtransport", function( msg ) {
            if (msg.userdrawing === app.givendata.username) {
                wordchooser.words = msg.words
                app.drawing=true
                setTimeout(function() {
                    wordchoosermodal.show()
                }, 1000);
            }
        })

        socket.on("imagetransport", function( msg ) {
            console.log(msg)
            var seecanvas = new fabric.Canvas('seecanvas');    

            seecanvas.selection = false;
            seecanvas.forEachObject(function(o) {
            o.selectable = false;
            });

            seecanvas.setHeight(height);
            seecanvas.setWidth(width);

            
            seecanvas.loadFromJSON(JSON.parse(msg.image), function() {
                    seecanvas.renderAll(); 
                },function(o,object){
                    console.log(o,object)
            })

            
        })

        app.pickr.on('change', (color, source, instance) => {
            //drawcanvas.freeDrawingBrush.color = color
            app.pickr.applyColor(color);

            convertedcolor = app.pickr.getColor().toRGBA()
            drawcanvas.freeDrawingBrush.color = (rgb2hex('rgba('+Math.round(convertedcolor[0])+','+Math.round(convertedcolor[1])+','+Math.round(convertedcolor[2])+','+Math.round(convertedcolor[3])+')'))
        });

    </script>

</body>
</html>